.App__title,
.App__welcome {
  text-align: center;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.77);
}

.App__title {
  text-transform: uppercase;
}
.TweeterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}
.Service {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.Filter {
  width: 240px;
}
